#define WLAN_SSID "your ssid"
#define WLAN_PASS "your password"

#define IRC_SERVER "your irc server"
#define IRC_NICKNAME "your irc nickname"
#define IRC_USERNAME "your irc username"
#define IRC_REALNAME "your irc realname"
